body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url(svgs/background.svg);
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
  display: block;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
  color: #39ADD1;

}

li {
  transition-property: color;
  transition-duration: 1s;
}

.nav{
  transition: 1s ease-out;
  fill: #39ADD1;
}

li:hover, .nav:hover   {
  color: #0E5768;
  fill:#0E5768;
  stroke-width: 2px;
}

#logo{
width: 140px;
height: 120px;
}

#logo:hover {
  fill: #39ADD1;
}
.st1 {
  display: none;
}

.st0 {
  transition: fill .5s ease-out;
}
.st0:hover {
fill:grey;

}
main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

.sable {
  color: #ba8058;
}

.fawn {
  fill: #ba8058;
}

.red {
color: #ba8058;
}

.stone {
color: blue;
}


  @media (min-width: 426px) {
h1 {
  display: none;
}

.st1 {
  display: inline;
}



}
