body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url(svgs/background.svg);
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
  display: block;
}

a {
  text-decoration: none;
  font-weight: 700;
  color:#39ADD1;
  padding-left: 5px;
}


header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  transition: .5s ease-out;
}

a:hover {
  color: #0E5768;
}

.main li {
  transition: .5s ease-out;
}

.main li:hover  {
  transform: scale(1.2);
  color: #0E5768;
  fill: #0E5768;
}

.home {
  transition: .5s ease-out;
}

.home:hover .icon{
  fill: #0E5768;
}




#logo {
width: 140px;
height: 120px;
}

#logo:hover {
  fill: #39ADD1;
}
.st1 {
  display: none;
}

.st0 {
  transition: fill .5s ease-out;
}
.st0:hover {
fill:grey;

}
main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

.sable {
  color: #B97F5B;
}

.fawn {
  color: #E9AA82;
}

.red {
color: #834B29;
}

.stone {
color: #52595E;
}

.nose_and_eyes{
  fill:grey;
}

main li {
  width: 150px;
  display: inline-block;
  text-align: center;
}
span{
  margin-right: 15px;
}
#corgi{
  margin-left: 100px;
}

  @media (min-width: 426px) {
h1 {
  display: none;
}

.st1 {
  display: inline-block;
}



}
